<!DOCTYPE html>
<html>
<head>
    <title>Football Simulator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>⚽ Football Simulator</h1>
    <ul class="menu">
        <li><a href="/teams">🏢 Команды</a></li>
        <li><a href="/players">👥 Все игроки</a></li>
        <li><a href="/match">🏟️ Симуляция матча</a></li>
        <li><a href="/league">🏆 Чемпионат</a></li>
    </ul>
    <div class="info">
        <p>Добро пожаловать в футбольный симулятор!</p>
    </div>
</body>
</html>